.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;


	@media (min-width: $bp-md) {
		margin: 2.5em 0 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Overview
ul.wp-block-latest-posts {
	@include list-reset();

	li {
		margin-bottom: 2em;
	}

	a {
		font-variation-settings: $font__var__semi;
	}
}

h1.entry-title {
	//border-bottom: 2px solid $black;
	//padding-bottom: .5em; 
}

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date,
.entry-meta,
.entry-footer {
	color: $color__text-understated;
	font-size: .75em;

	a {
		color: $color__text-understated;
	}
}

.entry-footer {
	margin-bottom: 3em;
	margin-top: 3em;
	padding: 1em 0;
	border-bottom: 1px solid $color__primary;
	border-top: 1px solid $color__primary;
}

// Images
.post-thumbnail {
	background-color: $white;
	line-height: 0;
	margin-top: 1em;
	text-align: center;

	img {
		max-height: 70vh;
		width: auto;
	}
}

// Article lists
body.blog,
body.archive {
	.entry-title a {
		color: inherit;
		text-decoration: none;
	}
}

// Search results
body.search-results {
	.entry-title {
		border-bottom: none;
		padding-bottom: 0;
	}
	.entry-title a {
		color: inherit;
		text-decoration: none;
	}
}

// Posts navigation
.nav-previous a,
.nav-next a {
	// next
	&:after {
		content: '\27F6';
		display: inline-block;
		width: 0px;
		padding-left: .5em;
		position: relative;
		transition: padding-left .2s ease-in-out;
	}

	&:hover:after {
		padding-left: .75em;
	}
}

// Works
.page-id-170 ul.wp-block-latest-posts {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	column-gap: 30px;
  	//row-gap: 0;
  	//align-items: stretch;
  	//justify-content: stretch;
  	place-content: center;

  	@media (min-width: 28em) {
  		grid-template-columns: 1fr 1fr;
  	}
  	@media (min-width:48em) {
  		grid-template-columns: 1fr 1fr 1fr;
  	}

  	li {
  		background-color: white;
  		display: flex;
  		justify-content: center;
  		align-items: center;
  		position: relative;
  		line-height: 0;
  		text-align: center;
  	}

  	li > a {
  		position: absolute;
  		top: 0;
  		left: 0;

  		width: 100%;
  		height: 100%;

  		display: flex;
  		justify-content: center;
  		align-items: center;
  		color: transparent;

  		font-variation-settings: $font__var__light;

  		&:hover,
  		&:active,
  		&:focus {
  			background-color: $color__secondary;
  			color: $white;
  		}
  	}

  	img {
  		filter: grayscale(100%);
  		margin: auto;
  	}
}
