.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


ul.wp-block-latest-posts {
	@include list-reset();

	li {
		margin-bottom: 2em;
	}

	a {
		//color: $black;
		//background-color: $black;
	}
}

h1.entry-title {
	border-bottom: 2px solid $black;
	padding-bottom: .5em; 
}

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date,
.entry-meta,
.entry-footer {
	color: $color__text-understated;
	font-size: .8em;

	a {
		color: $color__text-understated;
	}
}

.entry-footer {
	margin-top: 2em;
}

// Images
.post-thumbnail {
	background-color: $white;
	line-height: 0;
	margin-top: 1em;
	padding: 1em;
	text-align: center;

	img {
		max-height: 70vh;
		width: auto;
	}
}

// Article lists
body.blog,
body.archive {
	.entry-title a {
		color: inherit;
		text-decoration: none;
	}
}

// Search results
body.search-results {
	.entry-title {
		border-bottom: none;
		padding-bottom: 0;
	}
	.entry-title a {
		color: inherit;
		text-decoration: none;
	}
}