h1,
h2,
h3,
h4,
h5,
h6 {
	color: $black;
	line-height: 1em;
	margin: 2em 0 .475em;
	&:first-child {
		margin-top: 0;
	}
}


.site-title {
	font-family: $font__serif;
	font-weight: 300;

	a,
	a:visited {
		color: $black;
		background-color: $color__primary;
		text-decoration: none;
		transition: background-color .15s ease-in-out;
	}

	a:hover,
	a:active,
	a:focus {
		background-color: transparent;
	}
}


h1 {
	//font-family: $font__serif;
	font-variation-settings: $font__var__extrabold;
	font-size: 2em;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	@media (min-width: $bp-md) {
		font-size: 3em;
	}

	@media (min-width: $bp-lg) {
		font-size: 4em;
	}
}

h2 {
	//background-image: $background__pattern;
	//font-family: $font__serif;
	font-size: 1.25em;
	font-variation-settings: $font__var__extrabold;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	@media (min-width: $bp-md) {
		font-size: 1.75em;
	}

	@media (min-width: $bp-lg) {
		font-size: 2em;
	}
}

h3 {
	font-variation-settings: $font__var__bold;
}

h4 {
	font-variation-settings: $font__var__semi;
}