
body {
	font-family: $font__main;
	font-variation-settings: $font__var__light;
	color: $color__text;
	line-height: $font__line-height;
}

b, strong {
	font-variation-settings: $font__var__bold;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text;
	font-family: $font__main;
	font-size: 1rem;
	line-height: 1.85em;

	@media (min-width: $bp-sm) {
		font-size: 1.2rem;
	}
	@media (min-width: $bp-lg) {
		font-size: 1.3rem;
	}
}

@import "headings";
@import "copy";
