body, html {
	height: 100%;
}

html {

}

body {
	//background-color: #fafafa;
	background-color: $color__background-body;
	 
	//background-color: $black;
	//background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjUiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDQwLDQwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoMTI5KSAiPjxyZWN0IGlkPSJwYXR0ZXJuLWJhY2tncm91bmQiIHdpZHRoPSI0MDAlIiBoZWlnaHQ9IjQwMCUiIGZpbGw9InJnYmEoMjM3LCAxMzcsIDU0LDEpIj48L3JlY3Q+IDxwYXRoIGZpbGw9InJnYmEoMTUxLCA5MCwgMjIsMSkiIGQ9Ik0xNSwxNSBoMTAgdjEwIGgtMTAgeiI+PC9wYXRoPjxwYXRoIGZpbGw9InJnYmEoMjM2LCAyMDEsIDc1LDEpIiBkPSJNLTEwIC0xMCBoNjAgdjYwIGgtNjB6IE0xNyAxNyB2NiBoNiB2LTYgeiI+PC9wYXRoPjwvcGF0dGVybj4gIDwvZGVmcz4gPHJlY3QgZmlsbD0idXJsKCNwYXR0ZXJuKSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PC9yZWN0Pjwvc3ZnPg==");
	//background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjUiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDQwLDQwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoMTI5KSAiPjxyZWN0IGlkPSJwYXR0ZXJuLWJhY2tncm91bmQiIHdpZHRoPSI0MDAlIiBoZWlnaHQ9IjQwMCUiIGZpbGw9InJnYmEoMjM3LCAxMzcsIDU0LDEpIj48L3JlY3Q+IDxwYXRoIGZpbGw9InJnYmEoMTYwLCAxNzQsIDE5MiwxKSIgZD0iTTE1LDE1IGgxMCB2MTAgaC0xMCB6Ij48L3BhdGg+PHBhdGggZmlsbD0icmdiYSgyMzgsIDIzOCwgMjM4LDEpIiBkPSJNLTEwIC0xMCBoNjAgdjYwIGgtNjB6IE0xNyAxNyB2NiBoNiB2LTYgeiI+PC9wYXRoPjwvcGF0dGVybj4gIDwvZGVmcz4gPHJlY3QgZmlsbD0idXJsKCNwYXR0ZXJuKSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PC9yZWN0Pjwvc3ZnPg==");
	//background-image: radial-gradient(#fff 1px, #efefef 1px);
	//background-size: 10px 10px;
	//background-image: $background__pattern;
	//background-color: $color__primary;


	// Whittesmoke rectangles fixed
	/*background-image: linear-gradient( rgba(255,255,255,.4) 2px, transparent 2px),
	linear-gradient(90deg, rgba(255,255,255,.4) 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.45) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.45) 1px, transparent 1px);
	background-size: 200px 200px, 200px 200px, 100px 20px, 100px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-attachment: fixed;
	*/
	
}


.site {
	border-left: 1em solid $color__primary;
	padding: 1em 1em 3em;
}

@media (min-width: 20em) {
	.site {
		padding: 1em 2em 3em;
	}
}
@media (min-width: 600px) {
	.site {
		//padding: 1em 1em 1em 5em;
	}
}
@media (min-width:48em) {
	.site {
	}
}
@media (min-width:64em) {
	.site {
		//padding: 2em 15%;
	}
}
@media (min-width: $bp-lg) {
	.site {
		//padding: 2em 25%;
	}
}


.site-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.site-main {
	//background-color: $color__background-body;
	//background-color: $white;
	//background-image: $background__pattern;
	//border: 1px solid $color__background-lines; 
	margin-bottom: 1em;
}

.site-info {
	font-size: .75em;
}
