button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color__primary;
	color: $black;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	transition: background-color .25s ease-in-out, color .25s ease-in-out;

	&:hover {
		border-color: $color__secondary;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
