a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
		text-decoration: none;
	}
}


.more-link {
	position: relative;
	//padding-left: 25px;

	// next
	&:after {
		content: '\27F6';
		display: inline-block;
		width: 0px;
		padding-left: .5em;
		position: relative;
		transition: padding-left .2s ease-in-out;
	}

	&:hover:after {
		padding-left: .75em;
	}
	
	/*
	&:before {
		color: $black;
		content: '→';
		font-size: initial;
		line-height: 0;
		position: absolute;
		top: .8em;
		left: 0;
	}
	*/
}

.edit-link {
	display: block;
}