/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	line-height: 0;
	max-width: 100%; // Adhere to container width.
}

.wp-block-image {
	background-color: $white;
	line-height: 0;
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.

	figcaption {
		background-color: $color__background-body;
		color: $color__text-understated;
		font-family: $font__serif;
		font-size: .85em;
		line-height: initial;
		margin: .5em 0 1.5em;
	}
}
