$min-width: 15rem;
$GridGap: 3rem;

.site {
	min-height: 100vh;
	display: grid;
	grid-gap: $GridGap;

	grid-template-areas:
			" header"
			" main"
			"sidebar"
			" footer";

	@media (min-width: $bp-md) {
		display: grid;
		grid-template-areas:
			" header header"
			" main sidebar"
			" footer footer";
		grid-template-columns: auto minmax(min-content, 30%);
	}

	@media (min-width: $bp-lg) {
		display: grid;
		grid-template-areas:
			" header header . ."
			" . main . sidebar"
			" . footer . . ";

		grid-template-columns: 1fr minmax( min-content, 5fr) 1fr minmax(min-content, 2fr);
	}

	@media (min-width: $bp-xl) {
		display: grid;
		grid-template-areas:
			" header header . . ."
			" . main . sidebar ."
			" . footer . . .";

		grid-template-columns: 1fr minmax( min-content, 5fr) 1fr minmax(min-content, 2.5fr) 1fr;
	}

	/*	

	grid-template-columns: 1fr 1fr minmax() 3fr 1fr 2fr 1fr;

	@media (min-width: 1024px) {
		
	}

	@media (min-width: $bp-lg) {
		//grid-template-columns: 1fr 1fr 3fr 3fr 1fr 2fr 1fr;
	}
	*/
}

.site-header, .site-main, .site-footer, .widget-area {
	//border: 1px dashed red; 
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
