.site {
	display: grid;
	//grid-template-columns: auto;
	grid-template-areas:
		" . header header header . . . "
		" . . main main . sidebar . "
		" . . footer footer . . . ";


	@media (min-width: 1000px) {
		grid-template-columns: 1fr 1fr 3fr 3fr 1fr 2fr 1fr;
	}
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
