.widget-area {

	.home & {
		margin-top: -2.75em;

		@media (min-width: $bp-md) {
			margin-top: 0;
		}
	}
}

.widget {
	background-color: concrete;
	border: 2px solid $color__secondary;
	padding: 1em 1em .5em;
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	&:not(.widget_search) {
		font-size: 1em;
		line-height: 1.65em;
		padding: .5em 1.5em 1em;

		@media (min-width: $bp-md) {
			font-size: .8em;
			padding: 1em 1.5em 2em;
		}

		@media (min-width: $bp-xl) {
			padding: 1em 1.5em 2em;
		}

		@media (min-width: $bp-xxl) {
			font-size: 1em;
			padding: 1em 1.5em 2em;
		}
	}
}

.search-form {
	background-color: $color__secondary;
	display: flex;
	flex-wrap: wrap;
	margin: 1em 0 0;
	padding: 1em;

	label {
		flex: 1 1 70%; 
	}
	.search-field {
		border: none;
		border-radius: 0;
		font-size: inherit;
		padding: 5px 10px;
		width: 100%;
	}
	.search-submit {
		background-color: $color__primary;
		border: none;
		border-radius: 0;
		flex: 1 1 30%; 
		font-size: inherit;
		padding: 5px 10px;
	}
}