@import url('https://rsms.me/inter/inter.css');

// stylelint-disable value-keyword-case
$font__main: "Inter var", Helvetica, Arial, sans-serif;
$font__serif: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$font__line-height: 2em;

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


// Font font-variation-settings: 
$font__var__light: "wght" 300, "slnt" 0;
$font__var__semi: "wght" 500, "slnt" 0;
$font__var__bold: "wght" 600, "slnt" 0;
$font__var__extrabold: "wght" 700, "slnt" 0;